p {
  margin: 0;
}

hr {
  margin: 6px 0;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  height: 58px;
  background-color: #f5f3e4;
  text-align: center;
  z-index: 1;
}

.footbar {
  float: right;
}

.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  margin: 10px 0 60px 210px;
}
.hidden {
  visibility: hidden;
}

.Charsheet {
  text-align: left;
}
.charsheet-box {
  border: 2px solid blue;
  border-radius: 10px;
  padding: 5px;
  margin: 5px auto;
  /* vertical-align: middle; */
}



.Header {
  background-color: #f5f3e4;
}



.label-field  {
  /* width: 50%;
  float: left; */
  border-bottom: dotted 1px;
}

.new-label-field  {
  width: 100%;
  background-color: rgb(230, 230, 230);
  /* border-bottom: dotted 1px;
  border-style: groove; */
}

.new-view {
  padding: 1px 0;
  margin-top: 3px;
}

.value-field  {
  /* width: 50%;
  float: right; */
  text-align: right;
  /* text-decoration: underline dotted; */
  border-bottom: dotted 1px;
  
}

.single-view {
  width: 100%;
  border-bottom: dotted 1px;
}
.single-edit {
  width: 100%;
  border-bottom: dotted 1px;
}

.label-edit  {
  width: 100%;
  float: left;
}

/* .value-input  {
  width: 100%;
  float: right;
  text-align: right;
} */

.value-edit  {
  width: 100%;
  float: right;
  text-align: right;
}

/* .value-display {
  width: 100%;
  height: 100%;
} */

.value-view {
  width: 100%;
  height: 100%;
}

.label-view {
  width: 100%;
  height: 100%;
}

.edit-in-progress > * {
   position:relative;/* bring on top;*/
   border: none;
   border-radius: 5px;
   box-shadow:0 0 0 1600px rgba(140, 140, 140, 0.66);/* dark around it */
}

.text-only-field {
  width: 100%;
  float: left;
}

.text-only-input {
  width: 100%;
  float: left;
}
.column {
  padding-left: 5px;
  padding-right: 5px;
}

.container {
  padding-left: 0;
  padding-right: 0;
  /* margin: 0; */
}
.line-container {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  
  display: flex; 
  align-items: center;
}

.charsheet-column {
  padding-left: 5px;
  padding-right: 5px;
}

.pt-pair {
  margin: 0;
}
.trait {
  font-size: 0.8rem;
}
.trait1 {
  text-align: left;
  margin: 0;
  padding-left: 3px;
}

.traitVals {
  text-align: center;
  margin: 0;
}

.trait2 {
  text-align: right;
  margin: 0;
  padding-right: 3px;
  justify-content: flex-end;
}


.login-field {
  text-align: center;
}

.placeholder-text {
  background-color: rgb(200, 200, 200);
  color: rgb(100,100,100);
  font-style: italic;
  font-size: 0.8rem;
}
.Footer {
  background-color: aqua;
}

.bug {
  display: flex;
  float: right;
  margin: 0 2px;
  z-index: 10;
  height: 38px;
}

.bug-field{
  display: flex;
}

.bug-report {
  display: flex;
  float: right;
  font-size: 12px;
  margin-left: 10px;
  z-index: 10;
}


.Roller {
  border: 2px solid purple;
  border-radius: 10px;
  padding: 0;
}

.dice-selection {
  border: 1px solid purple;
  border-radius: 9px;
  padding: 0;
  /* margin-left: 15px; */
  margin: 0 15px;
}

.roll-results {
  border: 1px solid purple;
  border-radius: 9px;
  padding: 0;
  /* margin-right: 15px; */
  margin: 0 15px;
}
