html {background-color: rgb(245, 245, 235);}

p {
  margin: 0;  overflow-wrap: break-word;
}
.Charsheet h3 {
  font-family: 'MedievalSharp', cursive;
  text-align: center;
  font-size: 2.7vw;
 }

h6 {
  margin: 6px 0 2px 10px;
  text-decoration: underline;
  font-style: italic;
  font-size: 1.1rem;
}

button {
  border-radius: 4px;
}

ul {
  list-style-type: circle;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  height: 58px;
  background-color: #eeebd7;
  text-align: center;
  z-index: 1;
}
.fixed-bottom {
  z-index: 99;
}
.footbar {
  float: right;
}

.App {
  text-align: center;
  font-family: 'Piazzolla', serif;
  background-color: rgb(245, 245, 235);
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main {
  margin: 10px 0 60px 0;
  background-color: rgb(245, 245, 235);
}
.hidden {
  visibility: hidden;
}

.Charsheet {
  text-align: left;
}
.charsheet-box {
  border: 2px solid #afad90;
  border-radius: 10px;
  padding: 5px;
  margin: 0 3px;
}

.charsheet-box h6 {
  margin-left: 2px
}

.charsheet-column {
  padding-left: 5px;
  padding-right: 5px;
}

.Header {
  background-color: #eeebd7;
  line-height: 1.2;
  padding: 10px 0;
}
.ghost-div {
  padding-left: 0;
  padding-right: 0;
}

.label-field  {
  /* width: 50%;
  float: left; */
  border-bottom: dotted 1px;
}

.new-label-field  {
  width: 100%;
  background-color: rgb(230, 230, 230);
}

.new-view {
  padding: 1px 0;
  margin-top: 3px;
}

.value-field  {
  text-align: right;
  border-bottom: dotted 1px;
}


.desc-field {
  border-bottom: none;
  
}

.desc-edit {
  border-bottom: none;
  width: 100%;
}

.history .value-field, .history .new-field {
  text-align: center;
  border-bottom: dotted 1px;
}

.new-edit {
  width: 100%;
}

.single-view {
  width: 100%;
  border-bottom: dotted 1px;
}
.single-edit {
  width: 100%;
  border-bottom: dotted 1px;
}

.label-edit  {
  width: 100%;
  float: left;
}

/* .value-input  {
  width: 100%;
  float: right;
  text-align: right;
} */

.value-edit  {
  width: 100%;
  float: right;
  text-align: right;
}

/* .value-display {
  width: 100%;
  height: 100%;
} */

.lv-headers {
  font-style: italic;
  font-size: 0.7rem;
  padding-left: 0;
  padding-right: 0;
}

.lv-headers div {
  padding-left: 0;
  padding-right: 0;
}

.lv-headers .tick_col, .lv-headers .val_col, .lv-headers .year_col {
  text-align: center;
}

.lv-headers div {
  padding-left: 0;
  padding-right: 0;
}


.value-view {
  width: 100%;
  height: 100%;
}

.label-view {
  width: 100%;
  height: 100%;
}

.edit-in-progress > * {
   position:relative;/* bring on top;*/
   border: none;
   border-radius: 5px;
   box-shadow:0 0 0 1600px rgba(140, 140, 140, 0.66);/* dark around it */
   z-index: 1000;
}

.text-only-field {
  width: 100%;
  float: left;
}

.text-only-input {
  width: 100%;
  float: left;
}
.sidebar-column {
  padding: 30px 5px 0 5px;
}

.container {
  padding-left: 0;
  padding-right: 0;
}

.line-container {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  
  display: flex; 
  align-items: center;
}



.pt-pair {
  margin: 0;
}

.trait {
  font-size: 0.8rem;
}

.trait1 {
  text-align: left;
  margin: 0;
  padding-left: 3px;
}

.traitVals {
  text-align: center;
  margin: 0 auto;
  font-size: 0.8rem;
}

.trait2 {
  text-align: right;
  margin: 0;
  padding-right: 3px;
  justify-content: flex-end;
}

.eye {
  position: absolute;
  color: rgb(145, 145, 115);
}

.login-field {
  text-align: center;
}

.login-btn {
  background-color: rgb(175, 175, 145);
  border-color: rgb(175, 175, 145);
  line-height: 1.2;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: rgb(190, 190, 165);
  border-color: rgb(175, 175, 145);
  box-shadow: 0 0 0 0.2rem rgb(215, 215, 195);
  line-height: 1.2;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgb(190, 190, 165);
  border-color: rgb(215, 215, 195);
}

.btn-primary:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color:rgb(215, 215, 195);
  border-color: rgb(190, 190, 165);
}

.btn:focus, .btn:active {
  outline: none !important;
   box-shadow: none;
}

.placeholder-text {
  background-color: rgb(200, 200, 200);
  color: rgb(100,100,100);
  font-style: italic;
  font-size: 0.8rem;
}

.bug {
  display: flex;
  float: right;
  margin: 0 2px;
  z-index: 10;
  height: 38px;
  color: rgb(145, 145, 115);
}

.bug-field{
  display: flex;
}

.bug-report {
  display: flex;
  float: right;
  font-size: 12px;
  margin-left: 10px;
  z-index: 10;
}


.Roller {
  border: 2px solid #afad90;
  border-radius: 10px;
  padding: 0;
}

.Roller h2, .Roller .row {
  background: border-box;
}
.die-input-div {
  width: 40%;
  display: inline-block;
}
.die-input {
  width: -webkit-fill-available;
}

.dice-selection {
  display: inline;
  border-radius: 9px;
  padding: 0;
  margin: 0;
}

.roll-results {
  display: inline;
  border-radius: 9px;
  padding: 0;
  margin: 0;
}


.sidebar-column button {
  border: none;
  background-color: #eeebd7;
  text-align: left;
  display: block;
  font-size: 0.8rem;
  width: 100%;
  height: 2.5rem;
}

.aux-block button {

  height: 1.6rem;
  margin: auto 3px;
}

.aligned-div {
  display: flex;
}

.icon-pair {
  line-height: 50%;
  vertical-align: middle;
}

.main button {
  border: none;
  background-color: #eeebd7;
  text-align: left;
  display: block;
  font-size: 0.8rem;
  width: 100%
}
.saved-dice{
  display: inline-grid;
  margin: 0 2px 5px 2px;
}

.roller-row {
  margin-left: 0px;
  margin-right: 0px;
}

.dice-button {
  border: none;
  background-color: #eeebd7;
  text-align: center;
  display: block;
  font-size: 1rem;
}
.tick_col {
  padding: 0 5px 0 15px;
}

.label_col {
  padding: 0 10px;
}

.value_col {
  padding: 0 15px 0 5px;
}

.year_col {
  padding: 0 5px 0 15px;
}
.event_col {
padding: 0 15px 0 5px;
}
/* .family-block{
  font-size: 0.8rem;
} */

.family-row {
  margin-left: 0px;
  margin-right: 0px;
  font-size: 0.8rem;
}

.family-col {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.family-stat {
  display: inline-flex;
}

.char-col-left {
  padding-right: 5px;
}

.char-col-right {
  padding-left: 5px;
}

hr {
  margin: 6px 0;
}

.double-hr {
  padding-top: 3px;
  margin-top: 9px;
  border: 3px double;
  border-color: rgba(140, 140, 140, 0.66);
}

.hr-stripe {
  border: 0.3em solid;
  border-color: rgb(245, 245, 235);
  background-color: rgb(245,245,235);
  margin-top: 1rem;
  margin-bottom: 0;
}

.armour-total {
  text-align: center;
}

.auxsheet-box {
  padding: 5px;
}

#aux-add-button {
  text-align: right;
  padding-right: 10px;
  font-style: italic;
}
      
#aux-add-button span {
  padding-left: 6px;
}

.collapse-snap {
  transition-duration: 0;
  transition-delay: 0;
}

.Roller button {
  text-align: center;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: .6s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

